html {
    margin: 0px;
}

body {
    background-color: gray;
    margin: 5px;
}

header {
    background: url("resources/dogs1.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    font-size: 100px;
    text-align: center;
    padding: 100px;
   
}

#colhead {
font-weight: bold;
color: black;
font-size: 30px;
text-align: center;
}

#coltext {
color: inherit;
font-size: 20px;
text-align: left;
padding-left: 10px;
margin-left: 10px;
}

tr, th, td, table {

    border: 1px brown solid;
}
p {
    margin: 0px;
}

.col1 {
    color: darkgreen;
    background-image: linear-gradient(orange, brown);
}
.col2 {
    color: cyan;
    background-image: linear-gradient( blue, red);
}
.col3 {
    color: blue;
    background-image: linear-gradient(lime, darkgreen);
}


td, th {
    margin: 0px;
}

img {
    margin: 0px;
    border-radius: 50%;
    border: black solid 1px;
}

#info {
height: 300px;
}